/*----Roboto-----*/
@font-face {
	font-family: Roboto-Bold;
    src: local('Roboto-Bold'), url(fonts/Roboto/Robotobold.ttf);
}
@font-face {
	font-family: Roboto-Regular;
	src: local("Roboto-Regular"), url(fonts/Roboto/Roboto.ttf); 
}
@font-face {
	font-family: Roboto-Light;
	src: local("RobotoLight"), url(fonts/Roboto/Robotolight.ttf); 
}
@font-face {
	font-family: Roboto-Thin;
	src: local("RobotoLight"), url(fonts/Roboto/Robotothin.ttf); 
}