doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		meta(http-equiv="x-ua-compatible", content="ie=edge")
		meta(name="viewport", content="width=device-width")

		//====Jquery====
		script(src='../librairies/jquery/jquery.3.4.1.min.js')


		//====JqueryUI JS ====
		script(src='../librairies/jqueryUI/jquery-ui.min.js')


	

		//====jqueryUI css======
		link(href='../librairies/jqueryUI/jquery-ui.min.css', rel='stylesheet')




		

		//====Main Css====
		link(href='css/style.min.css', rel='stylesheet')
		


		block title
			title Home

	block body
		body

			block header
				header

			block main
				main

			block footer
				footer

block content

